<div id="background">
	<header class="clearfix">
		<div class="wrapper_wide">
			<%= link_to "Discpod", root_path, id:"logo" %>
			<a href="#" class="menu_welcome"><i class="fa fa-bars"></i></a>
			<nav id="main_nav_welcome">
				<ul>
					<li><%= link_to "Explore", podcasts_path %></li>
					<li><%= link_to "Sign In", new_podcast_session_path %></li>
					<li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Create &amp; Discover<br>Podcasts</h1>
		<%= link_to "Create a Podcast", new_podcast_registration_path, class: "button button_highlight" %>
		<%= link_to "Explore", podcasts_path, class: "button button_dark" %>
	</div>
</div>

<script>
  $(document).ready(function() {
  
  $('.menu_welcome').click(function(e) {
    e.stopPropagation();
    $('#main_nav_welcome').toggleClass('active');
  });

  $(document).click(function() {
    $('#main_nav_welcome').removeClass('active');
  });
});
</script>