<div id="podcast_show">
<div id="show_banner">
	<div class="wrapper_skinny">
		<h1><%= @podcast.title %></h1>
		<p class="description"><%= @podcast.description %></p>
		<% unless @podcast.itunes.blank? %>
			<a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
		<% end %>
		<% unless @podcast.stitcher.blank? %>
			<a href="<%= @podcast.stitcher %>" class="subscribe_link">Stitcher</a>
		<% end %>
		<% unless @podcast.podbay.blank? %>
			<a href="<%= @podcast.podbay %>" class="subscribe_link">Podbay</a>
		<% end %>
	</div>
</div>

<div id="breadcrumb">
	<%= link_to podcasts_path do %>
		All Podcasts
		<span>/</span>
		The First Podcast
	<% end %>
</div>

<div id="episodes">
	<div class="wrapper_skinny">
		<ul class="clearfix">

			<li class="clearfix">
				<div class="episode_thumbnail">
					<a href="episode.html">
						<img src="images/podcast_2.jpg" alt="Podcast 2">
					</a>
				</div>
				<div class="episode_overview">
					<h2><a href="episode.html">Coloring book pabst neutra, blog narwhal.</a></h2>
					<p class="description">Bicycle rights post-ironic selfies, banh mi pitchfork affogato craft beer ennui offal pinterest chicharrones tumblr lumbersexual enamel pin roof party bicycle rights skateboard.</p>
				</div>
			</li>

			<li class="clearfix">
				<div class="episode_thumbnail">
					<a href="episode.html">
						<img src="images/podcast_2.jpg" alt="Podcast 2">
					</a>
				</div>
				<div class="episode_overview">
					<h2><a href="episode.html">Coloring book pabst neutra, blog narwhal.</a></h2>
					<p class="description">Bicycle rights post-ironic selfies, banh mi pitchfork affogato craft beer ennui offal pinterest chicharrones tumblr lumbersexual enamel pin roof party bicycle rights skateboard.</p>
				</div>
			</li>

			<li class="clearfix">
				<div class="episode_thumbnail">
					<a href="episode.html">
						<img src="images/podcast_2.jpg" alt="Podcast 2">
					</a>
				</div>
				<div class="episode_overview">
					<h2><a href="episode.html">Coloring book pabst neutra, blog narwhal.</a></h2>
					<p class="description">Bicycle rights post-ironic selfies, banh mi pitchfork affogato craft beer ennui offal pinterest chicharrones tumblr lumbersexual enamel pin roof party bicycle rights skateboard.</p>
				</div>
			</li>

			<li class="clearfix">
				<div class="episode_thumbnail">
					<a href="episode.html">
						<img src="images/podcast_2.jpg" alt="Podcast 2">
					</a>
				</div>
				<div class="episode_overview">
					<h2><a href="episode.html">Coloring book pabst neutra, blog narwhal.</a></h2>
					<p class="description">Bicycle rights post-ironic selfies, banh mi pitchfork affogato craft beer ennui offal pinterest chicharrones tumblr lumbersexual enamel pin roof party bicycle rights skateboard.</p>
				</div>
			</li>

			<li class="clearfix">
				<div class="episode_thumbnail">
					<a href="episode.html">
						<img src="images/podcast_2.jpg" alt="Podcast 2">
					</a>
				</div>
				<div class="episode_overview">
					<h2><a href="episode.html">Coloring book pabst neutra, blog narwhal.</a></h2>
					<p class="description">Bicycle rights post-ironic selfies, banh mi pitchfork affogato craft beer ennui offal pinterest chicharrones tumblr lumbersexual enamel pin roof party bicycle rights skateboard.</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>

<div class="pagination">
<span class="span previous_page disabled">Previous</span>
<!-- em, for will_paginate -->
<em class="current">1</em>
<a href="#">2</a>
<a href="#" class="next_page">Next</a>
</div>